In [52]:
#후보자 이름을 기준으로 방사형그래프를 그릴 데이터셋을 모아보자 


# 먼저 크롤링 데이터셋을 불러보자 
# 로딩 경로 변수설정 
import pandas as pd
import numpy as np 
path = './data/'
name = ('01_강병원',
        '02_고용진',
        '03_금태섭',
        '04_기동민',
        '05_김병기',
        '06_김선동',
        '07_김성식',
        '08_김성태',
        '09_김성환',
        '10_김영주',
        '11_김영호',
        '12_김용태',
        '13_나경원',
        '14_남인순',
        '15_노웅래',
        '16_민병두',
        '17_박성중',
        '18_박영선',
        '19_박용진',
        '20_박인숙',
        '21_박주민',
        '22_박홍근',
        '23_서영교',
        '24_손혜원',
        '25_신경민',
        '26_심재권',
        '27_안규백',
        '28_오신환',
        '29_우상호',
        '30_우원식',
        '31_유승희',
        '32_이은재',
        '33_이인영',
        '34_이종구',
        '35_이혜훈',
        '36_이훈',
        '37_인재근',
        '38_전현희',
        '39_전혜숙',
        '40_정세균',
        '41_정양석',
        '42_지상욱',
        '43_진선미',
        '44_진영',
        '45_최재성',
        '46_추미애',
        '47_한정애',
        '48_홍익표',
        '49_황희')
        
extention = '.csv'

In [53]:
df_list = list()
for n in range(49):
    loaddir=path+name[n]+extention
    raw_data = pd.read_csv(loaddir,
                           encoding='utf-8',
                           index_col=0
                           )
    raw_data.rename(index = {0 : name[n]}  , inplace = True)
    #raw_data.rename(columns = {0 : name[n]), inplace = True)
    df_list.append(raw_data)
print(df_list)
display(df_list[0])
display(df_list[45])

[        긍정  부정       긍정비율
01_강병원  81  10  89.010989,         긍정  부정  긍정비율
02_고용진  63  12  84.0,           긍정   부정       긍정비율
03_금태섭  1134  258  81.465517,          긍정   부정       긍정비율
04_기동민  502  133  79.055118,          긍정   부정       긍정비율
05_김병기  389  161  70.727273,          긍정  부정       긍정비율
06_김선동  729  57  92.748092,          긍정   부정       긍정비율
07_김성식  706  120  85.472155,           긍정   부정       긍정비율
08_김성태  1268  379  76.988464,          긍정   부정      긍정비율
09_김성환  509  150  77.23824,          긍정   부정       긍정비율
10_김영주  269  158  62.997658,          긍정   부정      긍정비율
11_김영호  199  109  64.61039,          긍정   부정       긍정비율
12_김용태  713  180  79.843225,          긍정   부정       긍정비율
13_나경원  884  342  72.104405,          긍정  부정       긍정비율
14_남인순  258  92  73.714286,          긍정   부정       긍정비율
15_노웅래  513  214  70.563961,          긍정   부정       긍정비율
16_민병두  650  227  74.116306,          긍정   부정       긍정비율
17_박성중  840  162  83.832335,          긍정   부정       긍정비율
18_박영선  678  253  72.824919,          긍정  부정       긍정비율
19_박용진  933  99  90.406977,          긍정   부정       긍정비율
20_박인숙  694  133  83.917775,          긍정   부정       긍정비율
21_박주민  757  135  84.865471,          긍정   부정       긍정비율
22_박홍근  394  309  56.045519,          긍정   부정       긍정비율
23_서영교  442  215  67.275495,          긍정   부정       긍정비율
24_손혜원  922  245  79.005998,          긍정   부정       긍정비율
25_신경민  679  136  83.312883,          긍정   부정       긍정비율
26_심재권  443  190  69.984202,          긍정   부정       긍정비율
27_안규백  361  240  60.066556,           긍정  부정       긍정비율
28_오신환  1386  86  94.157609,          긍정   부정       긍정비율
29_우상호  497  306  61.892902,          긍정   부정       긍정비율
30_우원식  617  306  66.847237,          긍정   부정       긍정비율
31_유승희  610  165  78.709677,          긍정   부정      긍정비율
32_이은재  540  475  53.20197,          긍정   부정       긍정비율
33_이인영  906  335  73.005641,          긍정   부정      긍정비율
34_이종구  434  195  68.99841,          긍정   부정       긍정비율
35_이혜훈  796  216  78.656126,         긍정   부정       긍정비율
36_이훈  527  207  71.798365,          긍정   부정       긍정비율
37_인재근  243  171  58.695652,          긍정   부정       긍정비율
38_전현희  628  178  77.915633,          긍정   부정       긍정비율
39_전혜숙  486  213  69.527897,          긍정   부정       긍정비율
40_정세균  670  494  57.560137,          긍정   부정       긍정비율
41_정양석  744  258  74.251497,          긍정   부정       긍정비율
42_지상욱  929  168  84.685506,          긍정   부정       긍정비율
43_진선미  335  217  60.688406,         긍정  부정       긍정비율
44_진영  104  36  74.285714,          긍정   부정       긍정비율
45_최재성  631  349  64.387755,          긍정   부정       긍정비율
46_추미애  743  389  65.636042,          긍정   부정       긍정비율
47_한정애  327  226  59.132007,          긍정   부정       긍정비율
48_홍익표  612  334  64.693446,        긍정  부정       긍정비율
0
49_황희  81  10  89.010989]

        긍정  부정       긍정비율
01_강병원  81  10  89.010989

         긍정   부정       긍정비율
46_추미애  743  389  65.636042

In [54]:
# 하나의 테이블로 데이터 붙이기 
for i in range(47):
    df = pd.concat([df_list[i], df_list[i+1]])
    df = pd.concat([df, df_list[i+2]])
display(df)

         긍정   부정       긍정비율
47_한정애  327  226  59.132007
48_홍익표  612  334  64.693446
49_황희    81   10  89.010989

In [55]:
df = pd.concat([df_list[0],
                df_list[1],
                df_list[2],
                df_list[3],
                df_list[4],
                df_list[5],
                df_list[6],
                df_list[7],
                df_list[8],
                df_list[9],
                df_list[10],
                df_list[11],
                df_list[12],
                df_list[13],
                df_list[14],
                df_list[15],
                df_list[16],
                df_list[17],
                df_list[18],
                df_list[19],
                df_list[20],
                df_list[21],
                df_list[22],
                df_list[23],
                df_list[24],
                df_list[25],
                df_list[26],
                df_list[27],
                df_list[28],
                df_list[29],
                df_list[30],
                df_list[31],
                df_list[32],
                df_list[33],
                df_list[34],
                df_list[35],
                df_list[36],
                df_list[37],
                df_list[38],
                df_list[39],
                df_list[40],
                df_list[41],
                df_list[42],
                df_list[43],
                df_list[44],
                df_list[45],
                df_list[46],
                df_list[47],
                df_list[48],
               ])
display(df)

          긍정   부정       긍정비율
01_강병원    81   10  89.010989
02_고용진    63   12  84.000000
03_금태섭  1134  258  81.465517
04_기동민   502  133  79.055118
05_김병기   389  161  70.727273
06_김선동   729   57  92.748092
07_김성식   706  120  85.472155
08_김성태  1268  379  76.988464
09_김성환   509  150  77.238240
10_김영주   269  158  62.997658
11_김영호   199  109  64.610390
12_김용태   713  180  79.843225
13_나경원   884  342  72.104405
14_남인순   258   92  73.714286
15_노웅래   513  214  70.563961
16_민병두   650  227  74.116306
17_박성중   840  162  83.832335
18_박영선   678  253  72.824919
19_박용진   933   99  90.406977
20_박인숙   694  133  83.917775
21_박주민   757  135  84.865471
22_박홍근   394  309  56.045519
23_서영교   442  215  67.275495
24_손혜원   922  245  79.005998
25_신경민   679  136  83.312883
26_심재권   443  190  69.984202
27_안규백   361  240  60.066556
28_오신환  1386   86  94.157609
29_우상호   497  306  61.892902
30_우원식   617  306  66.847237
31_유승희   610  165  78.709677
32_이은재   540  475  53.201970
33_이인영   906  335  73.005641
34_이종구   434  195  68.998410
35_이혜훈   796  216  78.656126
36_이훈    527  207  71.798365
37_인재근   243  171  58.695652
38_전현희   628  178  77.915633
39_전혜숙   486  213  69.527897
40_정세균   670  494  57.560137
41_정양석   744  258  74.251497
42_지상욱   929  168  84.685506
43_진선미   335  217  60.688406
44_진영    104   36  74.285714
45_최재성   631  349  64.387755
46_추미애   743  389  65.636042
47_한정애   327  226  59.132007
48_홍익표   612  334  64.693446
49_황희     81   10  89.010989

In [56]:
df.reset_index(inplace=True)
display(df)

     index    긍정   부정       긍정비율
0   01_강병원    81   10  89.010989
1   02_고용진    63   12  84.000000
2   03_금태섭  1134  258  81.465517
3   04_기동민   502  133  79.055118
4   05_김병기   389  161  70.727273
5   06_김선동   729   57  92.748092
6   07_김성식   706  120  85.472155
7   08_김성태  1268  379  76.988464
8   09_김성환   509  150  77.238240
9   10_김영주   269  158  62.997658
10  11_김영호   199  109  64.610390
11  12_김용태   713  180  79.843225
12  13_나경원   884  342  72.104405
13  14_남인순   258   92  73.714286
14  15_노웅래   513  214  70.563961
15  16_민병두   650  227  74.116306
16  17_박성중   840  162  83.832335
17  18_박영선   678  253  72.824919
18  19_박용진   933   99  90.406977
19  20_박인숙   694  133  83.917775
20  21_박주민   757  135  84.865471
21  22_박홍근   394  309  56.045519
22  23_서영교   442  215  67.275495
23  24_손혜원   922  245  79.005998
24  25_신경민   679  136  83.312883
25  26_심재권   443  190  69.984202
26  27_안규백   361  240  60.066556
27  28_오신환  1386   86  94.157609
28  29_우상호   497  306  61.892902
29  30_우원식   617  306  66.847237
30  31_유승희   610  165  78.709677
31  32_이은재   540  475  53.201970
32  33_이인영   906  335  73.005641
33  34_이종구   434  195  68.998410
34  35_이혜훈   796  216  78.656126
35   36_이훈   527  207  71.798365
36  37_인재근   243  171  58.695652
37  38_전현희   628  178  77.915633
38  39_전혜숙   486  213  69.527897
39  40_정세균   670  494  57.560137
40  41_정양석   744  258  74.251497
41  42_지상욱   929  168  84.685506
42  43_진선미   335  217  60.688406
43   44_진영   104   36  74.285714
44  45_최재성   631  349  64.387755
45  46_추미애   743  389  65.636042
46  47_한정애   327  226  59.132007
47  48_홍익표   612  334  64.693446
48   49_황희    81   10  89.010989

In [74]:
df['평균'] = df['긍정비율'].mean()
display(df)

        이름    긍정   부정       긍정비율         평균
0   01_강병원    81   10  89.010989  73.753731
1   02_고용진    63   12  84.000000  73.753731
2   03_금태섭  1134  258  81.465517  73.753731
3   04_기동민   502  133  79.055118  73.753731
4   05_김병기   389  161  70.727273  73.753731
5   06_김선동   729   57  92.748092  73.753731
6   07_김성식   706  120  85.472155  73.753731
7   08_김성태  1268  379  76.988464  73.753731
8   09_김성환   509  150  77.238240  73.753731
9   10_김영주   269  158  62.997658  73.753731
10  11_김영호   199  109  64.610390  73.753731
11  12_김용태   713  180  79.843225  73.753731
12  13_나경원   884  342  72.104405  73.753731
13  14_남인순   258   92  73.714286  73.753731
14  15_노웅래   513  214  70.563961  73.753731
15  16_민병두   650  227  74.116306  73.753731
16  17_박성중   840  162  83.832335  73.753731
17  18_박영선   678  253  72.824919  73.753731
18  19_박용진   933   99  90.406977  73.753731
19  20_박인숙   694  133  83.917775  73.753731
20  21_박주민   757  135  84.865471  73.753731
21  22_박홍근   394  309  56.045519  73.753731
22  23_서영교   442  215  67.275495  73.753731
23  24_손혜원   922  245  79.005998  73.753731
24  25_신경민   679  136  83.312883  73.753731
25  26_심재권   443  190  69.984202  73.753731
26  27_안규백   361  240  60.066556  73.753731
27  28_오신환  1386   86  94.157609  73.753731
28  29_우상호   497  306  61.892902  73.753731
29  30_우원식   617  306  66.847237  73.753731
30  31_유승희   610  165  78.709677  73.753731
31  32_이은재   540  475  53.201970  73.753731
32  33_이인영   906  335  73.005641  73.753731
33  34_이종구   434  195  68.998410  73.753731
34  35_이혜훈   796  216  78.656126  73.753731
35   36_이훈   527  207  71.798365  73.753731
36  37_인재근   243  171  58.695652  73.753731
37  38_전현희   628  178  77.915633  73.753731
38  39_전혜숙   486  213  69.527897  73.753731
39  40_정세균   670  494  57.560137  73.753731
40  41_정양석   744  258  74.251497  73.753731
41  42_지상욱   929  168  84.685506  73.753731
42  43_진선미   335  217  60.688406  73.753731
43   44_진영   104   36  74.285714  73.753731
44  45_최재성   631  349  64.387755  73.753731
45  46_추미애   743  389  65.636042  73.753731
46  47_한정애   327  226  59.132007  73.753731
47  48_홍익표   612  334  64.693446  73.753731
48   49_황희    81   10  89.010989  73.753731

In [75]:
# 컬럼명 수정 
df.rename(columns = {'index' : '이름'}  , inplace = True)

In [76]:
display(df)

        이름    긍정   부정       긍정비율         평균
0   01_강병원    81   10  89.010989  73.753731
1   02_고용진    63   12  84.000000  73.753731
2   03_금태섭  1134  258  81.465517  73.753731
3   04_기동민   502  133  79.055118  73.753731
4   05_김병기   389  161  70.727273  73.753731
5   06_김선동   729   57  92.748092  73.753731
6   07_김성식   706  120  85.472155  73.753731
7   08_김성태  1268  379  76.988464  73.753731
8   09_김성환   509  150  77.238240  73.753731
9   10_김영주   269  158  62.997658  73.753731
10  11_김영호   199  109  64.610390  73.753731
11  12_김용태   713  180  79.843225  73.753731
12  13_나경원   884  342  72.104405  73.753731
13  14_남인순   258   92  73.714286  73.753731
14  15_노웅래   513  214  70.563961  73.753731
15  16_민병두   650  227  74.116306  73.753731
16  17_박성중   840  162  83.832335  73.753731
17  18_박영선   678  253  72.824919  73.753731
18  19_박용진   933   99  90.406977  73.753731
19  20_박인숙   694  133  83.917775  73.753731
20  21_박주민   757  135  84.865471  73.753731
21  22_박홍근   394  309  56.045519  73.753731
22  23_서영교   442  215  67.275495  73.753731
23  24_손혜원   922  245  79.005998  73.753731
24  25_신경민   679  136  83.312883  73.753731
25  26_심재권   443  190  69.984202  73.753731
26  27_안규백   361  240  60.066556  73.753731
27  28_오신환  1386   86  94.157609  73.753731
28  29_우상호   497  306  61.892902  73.753731
29  30_우원식   617  306  66.847237  73.753731
30  31_유승희   610  165  78.709677  73.753731
31  32_이은재   540  475  53.201970  73.753731
32  33_이인영   906  335  73.005641  73.753731
33  34_이종구   434  195  68.998410  73.753731
34  35_이혜훈   796  216  78.656126  73.753731
35   36_이훈   527  207  71.798365  73.753731
36  37_인재근   243  171  58.695652  73.753731
37  38_전현희   628  178  77.915633  73.753731
38  39_전혜숙   486  213  69.527897  73.753731
39  40_정세균   670  494  57.560137  73.753731
40  41_정양석   744  258  74.251497  73.753731
41  42_지상욱   929  168  84.685506  73.753731
42  43_진선미   335  217  60.688406  73.753731
43   44_진영   104   36  74.285714  73.753731
44  45_최재성   631  349  64.387755  73.753731
45  46_추미애   743  389  65.636042  73.753731
46  47_한정애   327  226  59.132007  73.753731
47  48_홍익표   612  334  64.693446  73.753731
48   49_황희    81   10  89.010989  73.753731

In [77]:

# 파일로 저장 
df.to_csv('./data/긍부정분석.csv', encoding='utf-8')

In [78]:
#확인 
df2 = pd.read_csv('./data/긍부정분석.csv',
                   encoding='utf-8',
                   index_col=0)
display(df2)

        이름    긍정   부정       긍정비율         평균
0   01_강병원    81   10  89.010989  73.753731
1   02_고용진    63   12  84.000000  73.753731
2   03_금태섭  1134  258  81.465517  73.753731
3   04_기동민   502  133  79.055118  73.753731
4   05_김병기   389  161  70.727273  73.753731
5   06_김선동   729   57  92.748092  73.753731
6   07_김성식   706  120  85.472155  73.753731
7   08_김성태  1268  379  76.988464  73.753731
8   09_김성환   509  150  77.238240  73.753731
9   10_김영주   269  158  62.997658  73.753731
10  11_김영호   199  109  64.610390  73.753731
11  12_김용태   713  180  79.843225  73.753731
12  13_나경원   884  342  72.104405  73.753731
13  14_남인순   258   92  73.714286  73.753731
14  15_노웅래   513  214  70.563961  73.753731
15  16_민병두   650  227  74.116306  73.753731
16  17_박성중   840  162  83.832335  73.753731
17  18_박영선   678  253  72.824919  73.753731
18  19_박용진   933   99  90.406977  73.753731
19  20_박인숙   694  133  83.917775  73.753731
20  21_박주민   757  135  84.865471  73.753731
21  22_박홍근   394  309  56.045519  73.753731
22  23_서영교   442  215  67.275495  73.753731
23  24_손혜원   922  245  79.005998  73.753731
24  25_신경민   679  136  83.312883  73.753731
25  26_심재권   443  190  69.984202  73.753731
26  27_안규백   361  240  60.066556  73.753731
27  28_오신환  1386   86  94.157609  73.753731
28  29_우상호   497  306  61.892902  73.753731
29  30_우원식   617  306  66.847237  73.753731
30  31_유승희   610  165  78.709677  73.753731
31  32_이은재   540  475  53.201970  73.753731
32  33_이인영   906  335  73.005641  73.753731
33  34_이종구   434  195  68.998410  73.753731
34  35_이혜훈   796  216  78.656126  73.753731
35   36_이훈   527  207  71.798365  73.753731
36  37_인재근   243  171  58.695652  73.753731
37  38_전현희   628  178  77.915633  73.753731
38  39_전혜숙   486  213  69.527897  73.753731
39  40_정세균   670  494  57.560137  73.753731
40  41_정양석   744  258  74.251497  73.753731
41  42_지상욱   929  168  84.685506  73.753731
42  43_진선미   335  217  60.688406  73.753731
43   44_진영   104   36  74.285714  73.753731
44  45_최재성   631  349  64.387755  73.753731
45  46_추미애   743  389  65.636042  73.753731
46  47_한정애   327  226  59.132007  73.753731
47  48_홍익표   612  334  64.693446  73.753731
48   49_황희    81   10  89.010989  73.753731

### 기타 자료들 합치기

In [79]:
# 1) 긍부정 분석 점수
PN_score = pd.read_csv('./data/parameters/PN_score.csv',
                             encoding='utf-8',
                             index_col=0)

# 2) 공약이행도 점수 
manifesto_score = pd.read_excel('./data/parameters/manifesto_score.xlsx',
                                sheet_name=1,
                                encoding='utf-8',
                                index_col=0)

# 3) 소통 일치도 점수 
com_score = pd.read_csv('./data/parameters/com_score.csv',
                        encoding='utf-8',
                        index_col=0)

# 4) 대표의안개수 점수
bill_score = pd.read_csv('./data/parameters/bill_score.csv',
                         encoding='utf-8',
                         index_col=0)

# 5) 회의록 점수
meet_score = pd.read_csv('./data/parameters/meet_score.csv',
                         encoding='utf-8',
                         index_col=0)


display(PN_score)
display(manifesto_score)
display(com_score)
display(bill_score)
display(meet_score)

        이름    긍정   부정       긍정비율         평균
0   01_강병원    81   10  89.010989  73.753731
1   02_고용진    63   12  84.000000  73.753731
2   03_금태섭  1134  258  81.465517  73.753731
3   04_기동민   502  133  79.055118  73.753731
4   05_김병기   389  161  70.727273  73.753731
5   06_김선동   729   57  92.748092  73.753731
6   07_김성식   706  120  85.472155  73.753731
7   08_김성태  1268  379  76.988464  73.753731
8   09_김성환   509  150  77.238240  73.753731
9   10_김영주   269  158  62.997658  73.753731
10  11_김영호   199  109  64.610390  73.753731
11  12_김용태   713  180  79.843225  73.753731
12  13_나경원   884  342  72.104405  73.753731
13  14_남인순   258   92  73.714286  73.753731
14  15_노웅래   513  214  70.563961  73.753731
15  16_민병두   650  227  74.116306  73.753731
16  17_박성중   840  162  83.832335  73.753731
17  18_박영선   678  253  72.824919  73.753731
18  19_박용진   933   99  90.406977  73.753731
19  20_박인숙   694  133  83.917775  73.753731
20  21_박주민   757  135  84.865471  73.753731
21  22_박홍근   394  309  56.045519  73.753731
22  23_서영교   442  215  67.275495  73.753731
23  24_손혜원   922  245  79.005998  73.753731
24  25_신경민   679  136  83.312883  73.753731
25  26_심재권   443  190  69.984202  73.753731
26  27_안규백   361  240  60.066556  73.753731
27  28_오신환  1386   86  94.157609  73.753731
28  29_우상호   497  306  61.892902  73.753731
29  30_우원식   617  306  66.847237  73.753731
30  31_유승희   610  165  78.709677  73.753731
31  32_이은재   540  475  53.201970  73.753731
32  33_이인영   906  335  73.005641  73.753731
33  34_이종구   434  195  68.998410  73.753731
34  35_이혜훈   796  216  78.656126  73.753731
35   36_이훈   527  207  71.798365  73.753731
36  37_인재근   243  171  58.695652  73.753731
37  38_전현희   628  178  77.915633  73.753731
38  39_전혜숙   486  213  69.527897  73.753731
39  40_정세균   670  494  57.560137  73.753731
40  41_정양석   744  258  74.251497  73.753731
41  42_지상욱   929  168  84.685506  73.753731
42  43_진선미   335  217  60.688406  73.753731
43   44_진영   104   36  74.285714  73.753731
44  45_최재성   631  349  64.387755  73.753731
45  46_추미애   743  389  65.636042  73.753731
46  47_한정애   327  226  59.132007  73.753731
47  48_홍익표   612  334  64.693446  73.753731
48   49_황희    81   10  89.010989  73.753731

,국정공약,지역공약,입법공약,재정공약,총 공약수,완료,추진중,보류,폐기,기타,이행률,완료률,점수,평균
국회의원,,,,,,,,,,,,,,
강병원,10,14,6,11,24,13,11,0,0,0,100.000000,54.166667,77.083333,62.33576
고용진,4,10,0,0,14,6,5,0,0,3,78.571429,42.857143,60.714286,62.33576
금태섭,3,22,0,18,22,0,21,1,0,0,95.454545,0.000000,47.727273,62.33576
기동민,0,9,0,9,9,2,7,0,0,0,100.000000,22.222222,61.111111,62.33576
김병기,11,22,8,25,33,24,9,0,0,0,100.000000,72.727273,86.363636,62.33576
김선동,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,62.33576
김성식,4,10,4,1,17,9,8,0,0,0,100.000000,52.941176,76.470588,62.33576
김성태,1,35,4,24,34,2,31,1,0,0,97.058824,5.882353,51.470588,62.33576
김성환,10,9,9,9,19,7,12,0,0,0,100.000000,36.842105,68.421053,62.33576
김영주,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,62.33576
김영호,0,12,0,0,9,1,8,0,0,0,100.000000,11.111111,55.555556,62.33576
김용태,3,11,5,6,11,7,4,0,0,0,100.000000,63.636364,81.818182,62.33576
나경원,0,71,0,71,72,45,26,0,0,1,98.611111,62.500000,80.555556,62.33576
남인순,43,31,22,41,71,19,35,14,3,0,76.056338,26.760563,51.408451,62.33576
노웅래,15,34,14,35,49,29,14,5,1,0,87.755102,59.183673,73.469388,62.33576
민병두,0,27,7,17,34,5,26,3,0,0,91.176471,14.705882,52.941176,62.33576
박성중,7,22,8,19,29,8,18,3,0,0,89.655172,27.586207,58.620690,62.33576
박영선,1,34,1,32,36,23,10,0,2,1,91.666667,63.888889,77.777778,62.33576
박용진,5,14,1,22,27,24,3,0,0,0,100.000000,88.888889,94.444444,62.33576
박인숙,10,30,11,11,40,15,17,1,3,4,80.000000,37.500000,58.750000,62.33576
박주민,21,19,21,21,37,6,28,3,0,0,91.891892,16.216216,54.054054,62.33576
박홍근,8,30,5,22,38,3,34,0,1,0,97.368421,7.894737,52.631579,62.33576
서영교,10,15,3,19,25,23,2,0,0,0,100.000000,92.000000,96.000000,62.33576
손혜원,4,54,0,45,58,14,34,8,2,0,82.758621,24.137931,53.448276,62.33576
신경민,7,41,4,44,48,23,21,2,2,0,91.666667,47.916667,69.791667,62.33576
심재권,3,60,8,52,63,60,3,0,0,0,100.000000,95.238095,97.619048,62.33576
안규백,12,43,5,51,55,39,16,0,0,0,100.000000,70.909091,85.454545,62.33576
오신환,18,26,3,0,37,27,10,0,0,0,100.000000,72.972973,86.486486,62.33576
우상호,0,5,0,5,5,3,2,0,0,0,100.000000,60.000000,80.000000,62.33576
우원식,19,38,10,34,59,33,22,4,0,0,93.220339,55.932203,74.576271,62.33576
유승희,29,67,16,81,96,53,43,0,0,0,100.000000,55.208333,77.604167,62.33576
이은재,2,4,2,2,5,1,4,0,0,0,100.000000,20.000000,60.000000,62.33576
이인영,11,37,6,31,47,16,27,1,3,0,91.489362,34.042553,62.765957,62.33576
이종구,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,62.33576
이혜훈,0,8,0,0,8,5,3,0,0,0,100.000000,62.500000,81.250000,62.33576
이훈,13,45,4,32,52,26,26,0,0,0,100.000000,50.000000,75.000000,62.33576
인재근,2,31,0,31,33,14,19,0,0,0,100.000000,42.424242,71.212121,62.33576
전현희,8,17,4,14,18,4,13,1,0,0,94.444444,22.222222,58.333333,62.33576
전혜숙,20,21,4,4,41,19,22,0,0,0,100.000000,46.341463,73.170732,62.33576
정세균,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,62.33576
정양석,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,62.33576
지상욱,0,7,2,4,7,0,6,0,1,0,85.714286,0.000000,42.857143,62.33576
진선미,12,45,2,27,57,22,30,3,2,0,91.228070,38.596491,64.912281,62.33576
진영,1,20,7,0,28,9,19,0,0,0,100.000000,32.142857,66.071429,62.33576
최재성,6,8,0,0,14,5,9,0,0,0,100.000000,35.714286,67.857143,62.33576
추미애,7,6,4,0,13,4,9,0,0,0,100.000000,30.769231,65.384615,62.33576
한정애,10,27,3,8,41,26,13,1,0,1,95.121951,63.414634,79.268293,62.33576
홍익표,5,5,5,0,10,0,10,0,0,0,100.000000,0.000000,50.000000,62.33576
황희,8,17,9,14,25,22,3,0,0,0,100.000000,88.000000,94.000000,62.33576

   name  com_score  avg
0   강병원         23   22
1   고용진         14   22
2   금태섭         27   22
3   기동민         41   22
4   김병기         38   22
5   김선동         11   22
6   김성식          5   22
7   김성태          8   22
8   김성환          5   22
9   김영주          6   22
10  김영호         44   22
11  김용태         14   22
12  나경원          8   22
13  남인순         25   22
14  노웅래         35   22
15  민병두          9   22
16  박성중         16   22
17  박영선          5   22
18  박용진         11   22
19  박인숙         45   22
20  박주민         17   22
21  박홍근         44   22
22  서영교        100   22
23  손혜원          0   22
24  신경민         39   22
25  심재권         18   22
26  안규백         28   22
27  오신환          6   22
28  우상호          5   22
29  우원식          5   22
30  유승희         80   22
31  이은재          0   22
32  이인영         12   22
33  이종구          0   22
34  이혜훈         21   22
35   이훈          0   22
36  인재근         60   22
37  전현희         48   22
38  전혜숙         68   22
39  정세균         11   22
40  정양석          0   22
41  지상욱          0   22
42  진선미         29   22
43   진영          0   22
44  최재성         41   22
45  추미애         14   22
46  한정애         43   22
47  홍익표         34   22
48   황희          9   22

      bill_score  bill_score_mean
name
강병원           24               22
고용진           26               22
금태섭           19               22
기동민           28               22
김병기           38               22
김선동            9               22
김성식            6               22
김성태            6               22
김성환           11               22
김영주           12               22
김영호           31               22
김용태            8               22
나경원            2               22
남인순           24               22
노웅래           38               22
민병두           11               22
박성중           13               22
박영선            6               22
박용진            7               22
박인숙           39               22
박주민           22               22
박홍근           28               22
서영교           93               22
손혜원            7               22
신경민           26               22
심재권           13               22
안규백           12               22
오신환            8               22
우상호           12               22
우원식           18               22
유승희           71               22
이은재            0               22
이인영           26               22
이종구            7               22
이혜훈            8               22
이훈            11               22
인재근           49               22
전현희          100               22
전혜숙           45               22
정세균           13               22
정양석            1               22
지상욱            4               22
진선미            9               22
진영             0               22
최재성           27               22
추미애            9               22
한정애           46               22
홍익표           38               22
황희             9               22

   name  meet_score
0   강병원        62.0
1   고용진        22.0
2   금태섭        38.0
3   기동민        67.0
4   김병기         7.0
5   김선동        16.0
6   김성식        23.0
7   김성태        38.0
8   김성환         7.0
9   김영주         8.0
10  김영호        24.0
11  김용태         8.0
12  나경원        36.0
13  남인순        46.0
14  노웅래        23.0
15  민병두        56.0
16  박성중        25.0
17  박영선        31.0
18  박용진        48.0
19  박인숙        20.0
20  박주민        34.0
21  박홍근        70.0
22  서영교        28.0
23  손혜원         0.0
24  신경민        14.0
25  심재권        56.0
26  안규백         9.0
27  오신환        45.0
28  우상호        20.0
29  우원식        13.0
30  유승희        16.0
31  이은재         0.0
32  이인영        66.0
33  이종구        46.0
34  이혜훈         7.0
35   이훈        28.0
36  인재근         4.0
37  전현희         3.0
38  전혜숙        31.0
39  정세균       100.0
40  정양석        22.0
41  지상욱        47.0
42  진선미        24.0
43   진영        31.0
44  최재성         9.0
45  추미애        36.0
46  한정애        51.0
47  홍익표        69.0
48   황희         7.0

In [80]:
# 회의록 점수 평균값이 없으므로 만든다. 
meet_score["mean_score"] = meet_score["meet_score"].mean()
display(meet_score)

   name  meet_score  mean_score
0   강병원        62.0   30.428571
1   고용진        22.0   30.428571
2   금태섭        38.0   30.428571
3   기동민        67.0   30.428571
4   김병기         7.0   30.428571
5   김선동        16.0   30.428571
6   김성식        23.0   30.428571
7   김성태        38.0   30.428571
8   김성환         7.0   30.428571
9   김영주         8.0   30.428571
10  김영호        24.0   30.428571
11  김용태         8.0   30.428571
12  나경원        36.0   30.428571
13  남인순        46.0   30.428571
14  노웅래        23.0   30.428571
15  민병두        56.0   30.428571
16  박성중        25.0   30.428571
17  박영선        31.0   30.428571
18  박용진        48.0   30.428571
19  박인숙        20.0   30.428571
20  박주민        34.0   30.428571
21  박홍근        70.0   30.428571
22  서영교        28.0   30.428571
23  손혜원         0.0   30.428571
24  신경민        14.0   30.428571
25  심재권        56.0   30.428571
26  안규백         9.0   30.428571
27  오신환        45.0   30.428571
28  우상호        20.0   30.428571
29  우원식        13.0   30.428571
30  유승희        16.0   30.428571
31  이은재         0.0   30.428571
32  이인영        66.0   30.428571
33  이종구        46.0   30.428571
34  이혜훈         7.0   30.428571
35   이훈        28.0   30.428571
36  인재근         4.0   30.428571
37  전현희         3.0   30.428571
38  전혜숙        31.0   30.428571
39  정세균       100.0   30.428571
40  정양석        22.0   30.428571
41  지상욱        47.0   30.428571
42  진선미        24.0   30.428571
43   진영        31.0   30.428571
44  최재성         9.0   30.428571
45  추미애        36.0   30.428571
46  한정애        51.0   30.428571
47  홍익표        69.0   30.428571
48   황희         7.0   30.428571

In [89]:
# 대표의안의 인덱스가 이름으로 되어있어 나머지와 일치화 시킨다
bill_score.reset_index(inplace=True)
display(bill_score)

   name  bill_score  bill_score_mean
0   강병원          24               22
1   고용진          26               22
2   금태섭          19               22
3   기동민          28               22
4   김병기          38               22
5   김선동           9               22
6   김성식           6               22
7   김성태           6               22
8   김성환          11               22
9   김영주          12               22
10  김영호          31               22
11  김용태           8               22
12  나경원           2               22
13  남인순          24               22
14  노웅래          38               22
15  민병두          11               22
16  박성중          13               22
17  박영선           6               22
18  박용진           7               22
19  박인숙          39               22
20  박주민          22               22
21  박홍근          28               22
22  서영교          93               22
23  손혜원           7               22
24  신경민          26               22
25  심재권          13               22
26  안규백          12               22
27  오신환           8               22
28  우상호          12               22
29  우원식          18               22
30  유승희          71               22
31  이은재           0               22
32  이인영          26               22
33  이종구           7               22
34  이혜훈           8               22
35   이훈          11               22
36  인재근          49               22
37  전현희         100               22
38  전혜숙          45               22
39  정세균          13               22
40  정양석           1               22
41  지상욱           4               22
42  진선미           9               22
43   진영           0               22
44  최재성          27               22
45  추미애           9               22
46  한정애          46               22
47  홍익표          38               22
48   황희           9               22

In [93]:
# 공약이행률도 마찬가지로 처리한다 
manifesto_score.reset_index(inplace=True)
display(manifesto_score)

,국회의원,국정공약,지역공약,입법공약,재정공약,총 공약수,완료,추진중,보류,폐기,기타,이행률,완료률,점수,평균
0,강병원,10,14,6,11,24,13,11,0,0,0,100.000000,54.166667,77.083333,62.33576
1,고용진,4,10,0,0,14,6,5,0,0,3,78.571429,42.857143,60.714286,62.33576
2,금태섭,3,22,0,18,22,0,21,1,0,0,95.454545,0.000000,47.727273,62.33576
3,기동민,0,9,0,9,9,2,7,0,0,0,100.000000,22.222222,61.111111,62.33576
4,김병기,11,22,8,25,33,24,9,0,0,0,100.000000,72.727273,86.363636,62.33576
5,김선동,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,62.33576
6,김성식,4,10,4,1,17,9,8,0,0,0,100.000000,52.941176,76.470588,62.33576
7,김성태,1,35,4,24,34,2,31,1,0,0,97.058824,5.882353,51.470588,62.33576
8,김성환,10,9,9,9,19,7,12,0,0,0,100.000000,36.842105,68.421053,62.33576
9,김영주,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,62.33576
10,김영호,0,12,0,0,9,1,8,0,0,0,100.000000,11.111111,55.555556,62.33576
11,김용태,3,11,5,6,11,7,4,0,0,0,100.000000,63.636364,81.818182,62.33576
12,나경원,0,71,0,71,72,45,26,0,0,1,98.611111,62.500000,80.555556,62.33576
13,남인순,43,31,22,41,71,19,35,14,3,0,76.056338,26.760563,51.408451,62.33576
14,노웅래,15,34,14,35,49,29,14,5,1,0,87.755102,59.183673,73.469388,62.33576
15,민병두,0,27,7,17,34,5,26,3,0,0,91.176471,14.705882,52.941176,62.33576
16,박성중,7,22,8,19,29,8,18,3,0,0,89.655172,27.586207,58.620690,62.33576
17,박영선,1,34,1,32,36,23,10,0,2,1,91.666667,63.888889,77.777778,62.33576
18,박용진,5,14,1,22,27,24,3,0,0,0,100.000000,88.888889,94.444444,62.33576
19,박인숙,10,30,11,11,40,15,17,1,3,4,80.000000,37.500000,58.750000,62.33576
20,박주민,21,19,21,21,37,6,28,3,0,0,91.891892,16.216216,54.054054,62.33576
21,박홍근,8,30,5,22,38,3,34,0,1,0,97.368421,7.894737,52.631579,62.33576
22,서영교,10,15,3,19,25,23,2,0,0,0,100.000000,92.000000,96.000000,62.33576
23,손혜원,4,54,0,45,58,14,34,8,2,0,82.758621,24.137931,53.448276,62.33576
24,신경민,7,41,4,44,48,23,21,2,2,0,91.666667,47.916667,69.791667,62.33576
25,심재권,3,60,8,52,63,60,3,0,0,0,100.000000,95.238095,97.619048,62.33576
26,안규백,12,43,5,51,55,39,16,0,0,0,100.000000,70.909091,85.454545,62.33576
27,오신환,18,26,3,0,37,27,10,0,0,0,100.000000,72.972973,86.486486,62.33576
28,우상호,0,5,0,5,5,3,2,0,0,0,100.000000,60.000000,80.000000,62.33576
29,우원식,19,38,10,34,59,33,22,4,0,0,93.220339,55.932203,74.576271,62.33576
30,유승희,29,67,16,81,96,53,43,0,0,0,100.000000,55.208333,77.604167,62.33576
31,이은재,2,4,2,2,5,1,4,0,0,0,100.000000,20.000000,60.000000,62.33576
32,이인영,11,37,6,31,47,16,27,1,3,0,91.489362,34.042553,62.765957,62.33576
33,이종구,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,62.33576
34,이혜훈,0,8,0,0,8,5,3,0,0,0,100.000000,62.500000,81.250000,62.33576
35,이훈,13,45,4,32,52,26,26,0,0,0,100.000000,50.000000,75.000000,62.33576
36,인재근,2,31,0,31,33,14,19,0,0,0,100.000000,42.424242,71.212121,62.33576
37,전현희,8,17,4,14,18,4,13,1,0,0,94.444444,22.222222,58.333333,62.33576
38,전혜숙,20,21,4,4,41,19,22,0,0,0,100.000000,46.341463,73.170732,62.33576
39,정세균,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,62.33576
40,정양석,0,0,0,0,0,0,0,0,0,0,0.000000,0.000000,0.000000,62.33576
41,지상욱,0,7,2,4,7,0,6,0,1,0,85.714286,0.000000,42.857143,62.33576
42,진선미,12,45,2,27,57,22,30,3,2,0,91.228070,38.596491,64.912281,62.33576
43,진영,1,20,7,0,28,9,19,0,0,0,100.000000,32.142857,66.071429,62.33576
44,최재성,6,8,0,0,14,5,9,0,0,0,100.000000,35.714286,67.857143,62.33576
45,추미애,7,6,4,0,13,4,9,0,0,0,100.000000,30.769231,65.384615,62.33576
46,한정애,10,27,3,8,41,26,13,1,0,1,95.121951,63.414634,79.268293,62.33576
47,홍익표,5,5,5,0,10,0,10,0,0,0,100.000000,0.000000,50.000000,62.33576
48,황희,8,17,9,14,25,22,3,0,0,0,100.000000,88.000000,94.000000,62.33576

In [97]:
#내용들을 붙여보자 (역순으로 회의록, 대표의안, 소통일치도, 공약이행도, 긍부정분석)

#1) 회의록
new_df = meet_score[['name','meet_score','mean_score']]
display(new_df)

#2) 회의록 + 대표의안
new_df = pd.concat([new_df, bill_score[['bill_score','bill_score_mean']]],
                    axis=1)
                    
display(new_df)           

#3) 회의록+대표의안+소통일치도
new_df = pd.concat([new_df, com_score[['com_score', 'avg']]],
                    axis=1)
display(new_df)

#4) 회의록+대표의안+소통일치도+공약이행도
new_df = pd.concat([new_df, manifesto_score[['점수','평균']]],
                   axis=1)
display(new_df)

#5) 회의록+대표의안+소통일치도+공약이행도+긍부정분석
new_df = pd.concat([new_df, PN_score[['긍정비율','평균']]],
                   axis=1)
display(new_df)

   name  meet_score  mean_score
0   강병원        62.0   30.428571
1   고용진        22.0   30.428571
2   금태섭        38.0   30.428571
3   기동민        67.0   30.428571
4   김병기         7.0   30.428571
5   김선동        16.0   30.428571
6   김성식        23.0   30.428571
7   김성태        38.0   30.428571
8   김성환         7.0   30.428571
9   김영주         8.0   30.428571
10  김영호        24.0   30.428571
11  김용태         8.0   30.428571
12  나경원        36.0   30.428571
13  남인순        46.0   30.428571
14  노웅래        23.0   30.428571
15  민병두        56.0   30.428571
16  박성중        25.0   30.428571
17  박영선        31.0   30.428571
18  박용진        48.0   30.428571
19  박인숙        20.0   30.428571
20  박주민        34.0   30.428571
21  박홍근        70.0   30.428571
22  서영교        28.0   30.428571
23  손혜원         0.0   30.428571
24  신경민        14.0   30.428571
25  심재권        56.0   30.428571
26  안규백         9.0   30.428571
27  오신환        45.0   30.428571
28  우상호        20.0   30.428571
29  우원식        13.0   30.428571
30  유승희        16.0   30.428571
31  이은재         0.0   30.428571
32  이인영        66.0   30.428571
33  이종구        46.0   30.428571
34  이혜훈         7.0   30.428571
35   이훈        28.0   30.428571
36  인재근         4.0   30.428571
37  전현희         3.0   30.428571
38  전혜숙        31.0   30.428571
39  정세균       100.0   30.428571
40  정양석        22.0   30.428571
41  지상욱        47.0   30.428571
42  진선미        24.0   30.428571
43   진영        31.0   30.428571
44  최재성         9.0   30.428571
45  추미애        36.0   30.428571
46  한정애        51.0   30.428571
47  홍익표        69.0   30.428571
48   황희         7.0   30.428571

   name  meet_score  mean_score  bill_score  bill_score_mean
0   강병원        62.0   30.428571          24               22
1   고용진        22.0   30.428571          26               22
2   금태섭        38.0   30.428571          19               22
3   기동민        67.0   30.428571          28               22
4   김병기         7.0   30.428571          38               22
5   김선동        16.0   30.428571           9               22
6   김성식        23.0   30.428571           6               22
7   김성태        38.0   30.428571           6               22
8   김성환         7.0   30.428571          11               22
9   김영주         8.0   30.428571          12               22
10  김영호        24.0   30.428571          31               22
11  김용태         8.0   30.428571           8               22
12  나경원        36.0   30.428571           2               22
13  남인순        46.0   30.428571          24               22
14  노웅래        23.0   30.428571          38               22
15  민병두        56.0   30.428571          11               22
16  박성중        25.0   30.428571          13               22
17  박영선        31.0   30.428571           6               22
18  박용진        48.0   30.428571           7               22
19  박인숙        20.0   30.428571          39               22
20  박주민        34.0   30.428571          22               22
21  박홍근        70.0   30.428571          28               22
22  서영교        28.0   30.428571          93               22
23  손혜원         0.0   30.428571           7               22
24  신경민        14.0   30.428571          26               22
25  심재권        56.0   30.428571          13               22
26  안규백         9.0   30.428571          12               22
27  오신환        45.0   30.428571           8               22
28  우상호        20.0   30.428571          12               22
29  우원식        13.0   30.428571          18               22
30  유승희        16.0   30.428571          71               22
31  이은재         0.0   30.428571           0               22
32  이인영        66.0   30.428571          26               22
33  이종구        46.0   30.428571           7               22
34  이혜훈         7.0   30.428571           8               22
35   이훈        28.0   30.428571          11               22
36  인재근         4.0   30.428571          49               22
37  전현희         3.0   30.428571         100               22
38  전혜숙        31.0   30.428571          45               22
39  정세균       100.0   30.428571          13               22
40  정양석        22.0   30.428571           1               22
41  지상욱        47.0   30.428571           4               22
42  진선미        24.0   30.428571           9               22
43   진영        31.0   30.428571           0               22
44  최재성         9.0   30.428571          27               22
45  추미애        36.0   30.428571           9               22
46  한정애        51.0   30.428571          46               22
47  홍익표        69.0   30.428571          38               22
48   황희         7.0   30.428571           9               22

   name  meet_score  mean_score  bill_score  bill_score_mean  com_score  avg
0   강병원        62.0   30.428571          24               22         23   22
1   고용진        22.0   30.428571          26               22         14   22
2   금태섭        38.0   30.428571          19               22         27   22
3   기동민        67.0   30.428571          28               22         41   22
4   김병기         7.0   30.428571          38               22         38   22
5   김선동        16.0   30.428571           9               22         11   22
6   김성식        23.0   30.428571           6               22          5   22
7   김성태        38.0   30.428571           6               22          8   22
8   김성환         7.0   30.428571          11               22          5   22
9   김영주         8.0   30.428571          12               22          6   22
10  김영호        24.0   30.428571          31               22         44   22
11  김용태         8.0   30.428571           8               22         14   22
12  나경원        36.0   30.428571           2               22          8   22
13  남인순        46.0   30.428571          24               22         25   22
14  노웅래        23.0   30.428571          38               22         35   22
15  민병두        56.0   30.428571          11               22          9   22
16  박성중        25.0   30.428571          13               22         16   22
17  박영선        31.0   30.428571           6               22          5   22
18  박용진        48.0   30.428571           7               22         11   22
19  박인숙        20.0   30.428571          39               22         45   22
20  박주민        34.0   30.428571          22               22         17   22
21  박홍근        70.0   30.428571          28               22         44   22
22  서영교        28.0   30.428571          93               22        100   22
23  손혜원         0.0   30.428571           7               22          0   22
24  신경민        14.0   30.428571          26               22         39   22
25  심재권        56.0   30.428571          13               22         18   22
26  안규백         9.0   30.428571          12               22         28   22
27  오신환        45.0   30.428571           8               22          6   22
28  우상호        20.0   30.428571          12               22          5   22
29  우원식        13.0   30.428571          18               22          5   22
30  유승희        16.0   30.428571          71               22         80   22
31  이은재         0.0   30.428571           0               22          0   22
32  이인영        66.0   30.428571          26               22         12   22
33  이종구        46.0   30.428571           7               22          0   22
34  이혜훈         7.0   30.428571           8               22         21   22
35   이훈        28.0   30.428571          11               22          0   22
36  인재근         4.0   30.428571          49               22         60   22
37  전현희         3.0   30.428571         100               22         48   22
38  전혜숙        31.0   30.428571          45               22         68   22
39  정세균       100.0   30.428571          13               22         11   22
40  정양석        22.0   30.428571           1               22          0   22
41  지상욱        47.0   30.428571           4               22          0   22
42  진선미        24.0   30.428571           9               22         29   22
43   진영        31.0   30.428571           0               22          0   22
44  최재성         9.0   30.428571          27               22         41   22
45  추미애        36.0   30.428571           9               22         14   22
46  한정애        51.0   30.428571          46               22         43   22
47  홍익표        69.0   30.428571          38               22         34   22
48   황희         7.0   30.428571           9               22          9   22

,name,meet_score,mean_score,bill_score,bill_score_mean,com_score,avg,점수,평균
0,강병원,62.0,30.428571,24,22,23,22,77.083333,62.33576
1,고용진,22.0,30.428571,26,22,14,22,60.714286,62.33576
2,금태섭,38.0,30.428571,19,22,27,22,47.727273,62.33576
3,기동민,67.0,30.428571,28,22,41,22,61.111111,62.33576
4,김병기,7.0,30.428571,38,22,38,22,86.363636,62.33576
5,김선동,16.0,30.428571,9,22,11,22,0.000000,62.33576
6,김성식,23.0,30.428571,6,22,5,22,76.470588,62.33576
7,김성태,38.0,30.428571,6,22,8,22,51.470588,62.33576
8,김성환,7.0,30.428571,11,22,5,22,68.421053,62.33576
9,김영주,8.0,30.428571,12,22,6,22,0.000000,62.33576
10,김영호,24.0,30.428571,31,22,44,22,55.555556,62.33576
11,김용태,8.0,30.428571,8,22,14,22,81.818182,62.33576
12,나경원,36.0,30.428571,2,22,8,22,80.555556,62.33576
13,남인순,46.0,30.428571,24,22,25,22,51.408451,62.33576
14,노웅래,23.0,30.428571,38,22,35,22,73.469388,62.33576
15,민병두,56.0,30.428571,11,22,9,22,52.941176,62.33576
16,박성중,25.0,30.428571,13,22,16,22,58.620690,62.33576
17,박영선,31.0,30.428571,6,22,5,22,77.777778,62.33576
18,박용진,48.0,30.428571,7,22,11,22,94.444444,62.33576
19,박인숙,20.0,30.428571,39,22,45,22,58.750000,62.33576
20,박주민,34.0,30.428571,22,22,17,22,54.054054,62.33576
21,박홍근,70.0,30.428571,28,22,44,22,52.631579,62.33576
22,서영교,28.0,30.428571,93,22,100,22,96.000000,62.33576
23,손혜원,0.0,30.428571,7,22,0,22,53.448276,62.33576
24,신경민,14.0,30.428571,26,22,39,22,69.791667,62.33576
25,심재권,56.0,30.428571,13,22,18,22,97.619048,62.33576
26,안규백,9.0,30.428571,12,22,28,22,85.454545,62.33576
27,오신환,45.0,30.428571,8,22,6,22,86.486486,62.33576
28,우상호,20.0,30.428571,12,22,5,22,80.000000,62.33576
29,우원식,13.0,30.428571,18,22,5,22,74.576271,62.33576
30,유승희,16.0,30.428571,71,22,80,22,77.604167,62.33576
31,이은재,0.0,30.428571,0,22,0,22,60.000000,62.33576
32,이인영,66.0,30.428571,26,22,12,22,62.765957,62.33576
33,이종구,46.0,30.428571,7,22,0,22,0.000000,62.33576
34,이혜훈,7.0,30.428571,8,22,21,22,81.250000,62.33576
35,이훈,28.0,30.428571,11,22,0,22,75.000000,62.33576
36,인재근,4.0,30.428571,49,22,60,22,71.212121,62.33576
37,전현희,3.0,30.428571,100,22,48,22,58.333333,62.33576
38,전혜숙,31.0,30.428571,45,22,68,22,73.170732,62.33576
39,정세균,100.0,30.428571,13,22,11,22,0.000000,62.33576
40,정양석,22.0,30.428571,1,22,0,22,0.000000,62.33576
41,지상욱,47.0,30.428571,4,22,0,22,42.857143,62.33576
42,진선미,24.0,30.428571,9,22,29,22,64.912281,62.33576
43,진영,31.0,30.428571,0,22,0,22,66.071429,62.33576
44,최재성,9.0,30.428571,27,22,41,22,67.857143,62.33576
45,추미애,36.0,30.428571,9,22,14,22,65.384615,62.33576
46,한정애,51.0,30.428571,46,22,43,22,79.268293,62.33576
47,홍익표,69.0,30.428571,38,22,34,22,50.000000,62.33576
48,황희,7.0,30.428571,9,22,9,22,94.000000,62.33576

,name,meet_score,mean_score,bill_score,bill_score_mean,com_score,avg,점수,평균,긍정비율,평균
0,강병원,62.0,30.428571,24,22,23,22,77.083333,62.33576,89.010989,73.753731
1,고용진,22.0,30.428571,26,22,14,22,60.714286,62.33576,84.000000,73.753731
2,금태섭,38.0,30.428571,19,22,27,22,47.727273,62.33576,81.465517,73.753731
3,기동민,67.0,30.428571,28,22,41,22,61.111111,62.33576,79.055118,73.753731
4,김병기,7.0,30.428571,38,22,38,22,86.363636,62.33576,70.727273,73.753731
5,김선동,16.0,30.428571,9,22,11,22,0.000000,62.33576,92.748092,73.753731
6,김성식,23.0,30.428571,6,22,5,22,76.470588,62.33576,85.472155,73.753731
7,김성태,38.0,30.428571,6,22,8,22,51.470588,62.33576,76.988464,73.753731
8,김성환,7.0,30.428571,11,22,5,22,68.421053,62.33576,77.238240,73.753731
9,김영주,8.0,30.428571,12,22,6,22,0.000000,62.33576,62.997658,73.753731
10,김영호,24.0,30.428571,31,22,44,22,55.555556,62.33576,64.610390,73.753731
11,김용태,8.0,30.428571,8,22,14,22,81.818182,62.33576,79.843225,73.753731
12,나경원,36.0,30.428571,2,22,8,22,80.555556,62.33576,72.104405,73.753731
13,남인순,46.0,30.428571,24,22,25,22,51.408451,62.33576,73.714286,73.753731
14,노웅래,23.0,30.428571,38,22,35,22,73.469388,62.33576,70.563961,73.753731
15,민병두,56.0,30.428571,11,22,9,22,52.941176,62.33576,74.116306,73.753731
16,박성중,25.0,30.428571,13,22,16,22,58.620690,62.33576,83.832335,73.753731
17,박영선,31.0,30.428571,6,22,5,22,77.777778,62.33576,72.824919,73.753731
18,박용진,48.0,30.428571,7,22,11,22,94.444444,62.33576,90.406977,73.753731
19,박인숙,20.0,30.428571,39,22,45,22,58.750000,62.33576,83.917775,73.753731
20,박주민,34.0,30.428571,22,22,17,22,54.054054,62.33576,84.865471,73.753731
21,박홍근,70.0,30.428571,28,22,44,22,52.631579,62.33576,56.045519,73.753731
22,서영교,28.0,30.428571,93,22,100,22,96.000000,62.33576,67.275495,73.753731
23,손혜원,0.0,30.428571,7,22,0,22,53.448276,62.33576,79.005998,73.753731
24,신경민,14.0,30.428571,26,22,39,22,69.791667,62.33576,83.312883,73.753731
25,심재권,56.0,30.428571,13,22,18,22,97.619048,62.33576,69.984202,73.753731
26,안규백,9.0,30.428571,12,22,28,22,85.454545,62.33576,60.066556,73.753731
27,오신환,45.0,30.428571,8,22,6,22,86.486486,62.33576,94.157609,73.753731
28,우상호,20.0,30.428571,12,22,5,22,80.000000,62.33576,61.892902,73.753731
29,우원식,13.0,30.428571,18,22,5,22,74.576271,62.33576,66.847237,73.753731
30,유승희,16.0,30.428571,71,22,80,22,77.604167,62.33576,78.709677,73.753731
31,이은재,0.0,30.428571,0,22,0,22,60.000000,62.33576,53.201970,73.753731
32,이인영,66.0,30.428571,26,22,12,22,62.765957,62.33576,73.005641,73.753731
33,이종구,46.0,30.428571,7,22,0,22,0.000000,62.33576,68.998410,73.753731
34,이혜훈,7.0,30.428571,8,22,21,22,81.250000,62.33576,78.656126,73.753731
35,이훈,28.0,30.428571,11,22,0,22,75.000000,62.33576,71.798365,73.753731
36,인재근,4.0,30.428571,49,22,60,22,71.212121,62.33576,58.695652,73.753731
37,전현희,3.0,30.428571,100,22,48,22,58.333333,62.33576,77.915633,73.753731
38,전혜숙,31.0,30.428571,45,22,68,22,73.170732,62.33576,69.527897,73.753731
39,정세균,100.0,30.428571,13,22,11,22,0.000000,62.33576,57.560137,73.753731
40,정양석,22.0,30.428571,1,22,0,22,0.000000,62.33576,74.251497,73.753731
41,지상욱,47.0,30.428571,4,22,0,22,42.857143,62.33576,84.685506,73.753731
42,진선미,24.0,30.428571,9,22,29,22,64.912281,62.33576,60.688406,73.753731
43,진영,31.0,30.428571,0,22,0,22,66.071429,62.33576,74.285714,73.753731
44,최재성,9.0,30.428571,27,22,41,22,67.857143,62.33576,64.387755,73.753731
45,추미애,36.0,30.428571,9,22,14,22,65.384615,62.33576,65.636042,73.753731
46,한정애,51.0,30.428571,46,22,43,22,79.268293,62.33576,59.132007,73.753731
47,홍익표,69.0,30.428571,38,22,34,22,50.000000,62.33576,64.693446,73.753731
48,황희,7.0,30.428571,9,22,9,22,94.000000,62.33576,89.010989,73.753731

In [98]:
# 컬럼 이름을 새로 붙여보자 
new_df.columns = ["이름", 
                  "회의", "회의_평균",
                  "의안","의안_평균",
                  "소통일치도","소통일치도_평균",
                  "공약이행도","공약이행도_평균",
                  "긍부정비율","긍부정비율_평균"]
display(new_df)

,이름,회의,회의_평균,의안,의안_평균,소통일치도,소통일치도_평균,공약이행도,공약이행도_평균,긍부정비율,긍부정비율_평균
0,강병원,62.0,30.428571,24,22,23,22,77.083333,62.33576,89.010989,73.753731
1,고용진,22.0,30.428571,26,22,14,22,60.714286,62.33576,84.000000,73.753731
2,금태섭,38.0,30.428571,19,22,27,22,47.727273,62.33576,81.465517,73.753731
3,기동민,67.0,30.428571,28,22,41,22,61.111111,62.33576,79.055118,73.753731
4,김병기,7.0,30.428571,38,22,38,22,86.363636,62.33576,70.727273,73.753731
5,김선동,16.0,30.428571,9,22,11,22,0.000000,62.33576,92.748092,73.753731
6,김성식,23.0,30.428571,6,22,5,22,76.470588,62.33576,85.472155,73.753731
7,김성태,38.0,30.428571,6,22,8,22,51.470588,62.33576,76.988464,73.753731
8,김성환,7.0,30.428571,11,22,5,22,68.421053,62.33576,77.238240,73.753731
9,김영주,8.0,30.428571,12,22,6,22,0.000000,62.33576,62.997658,73.753731
10,김영호,24.0,30.428571,31,22,44,22,55.555556,62.33576,64.610390,73.753731
11,김용태,8.0,30.428571,8,22,14,22,81.818182,62.33576,79.843225,73.753731
12,나경원,36.0,30.428571,2,22,8,22,80.555556,62.33576,72.104405,73.753731
13,남인순,46.0,30.428571,24,22,25,22,51.408451,62.33576,73.714286,73.753731
14,노웅래,23.0,30.428571,38,22,35,22,73.469388,62.33576,70.563961,73.753731
15,민병두,56.0,30.428571,11,22,9,22,52.941176,62.33576,74.116306,73.753731
16,박성중,25.0,30.428571,13,22,16,22,58.620690,62.33576,83.832335,73.753731
17,박영선,31.0,30.428571,6,22,5,22,77.777778,62.33576,72.824919,73.753731
18,박용진,48.0,30.428571,7,22,11,22,94.444444,62.33576,90.406977,73.753731
19,박인숙,20.0,30.428571,39,22,45,22,58.750000,62.33576,83.917775,73.753731
20,박주민,34.0,30.428571,22,22,17,22,54.054054,62.33576,84.865471,73.753731
21,박홍근,70.0,30.428571,28,22,44,22,52.631579,62.33576,56.045519,73.753731
22,서영교,28.0,30.428571,93,22,100,22,96.000000,62.33576,67.275495,73.753731
23,손혜원,0.0,30.428571,7,22,0,22,53.448276,62.33576,79.005998,73.753731
24,신경민,14.0,30.428571,26,22,39,22,69.791667,62.33576,83.312883,73.753731
25,심재권,56.0,30.428571,13,22,18,22,97.619048,62.33576,69.984202,73.753731
26,안규백,9.0,30.428571,12,22,28,22,85.454545,62.33576,60.066556,73.753731
27,오신환,45.0,30.428571,8,22,6,22,86.486486,62.33576,94.157609,73.753731
28,우상호,20.0,30.428571,12,22,5,22,80.000000,62.33576,61.892902,73.753731
29,우원식,13.0,30.428571,18,22,5,22,74.576271,62.33576,66.847237,73.753731
30,유승희,16.0,30.428571,71,22,80,22,77.604167,62.33576,78.709677,73.753731
31,이은재,0.0,30.428571,0,22,0,22,60.000000,62.33576,53.201970,73.753731
32,이인영,66.0,30.428571,26,22,12,22,62.765957,62.33576,73.005641,73.753731
33,이종구,46.0,30.428571,7,22,0,22,0.000000,62.33576,68.998410,73.753731
34,이혜훈,7.0,30.428571,8,22,21,22,81.250000,62.33576,78.656126,73.753731
35,이훈,28.0,30.428571,11,22,0,22,75.000000,62.33576,71.798365,73.753731
36,인재근,4.0,30.428571,49,22,60,22,71.212121,62.33576,58.695652,73.753731
37,전현희,3.0,30.428571,100,22,48,22,58.333333,62.33576,77.915633,73.753731
38,전혜숙,31.0,30.428571,45,22,68,22,73.170732,62.33576,69.527897,73.753731
39,정세균,100.0,30.428571,13,22,11,22,0.000000,62.33576,57.560137,73.753731
40,정양석,22.0,30.428571,1,22,0,22,0.000000,62.33576,74.251497,73.753731
41,지상욱,47.0,30.428571,4,22,0,22,42.857143,62.33576,84.685506,73.753731
42,진선미,24.0,30.428571,9,22,29,22,64.912281,62.33576,60.688406,73.753731
43,진영,31.0,30.428571,0,22,0,22,66.071429,62.33576,74.285714,73.753731
44,최재성,9.0,30.428571,27,22,41,22,67.857143,62.33576,64.387755,73.753731
45,추미애,36.0,30.428571,9,22,14,22,65.384615,62.33576,65.636042,73.753731
46,한정애,51.0,30.428571,46,22,43,22,79.268293,62.33576,59.132007,73.753731
47,홍익표,69.0,30.428571,38,22,34,22,50.000000,62.33576,64.693446,73.753731
48,황희,7.0,30.428571,9,22,9,22,94.000000,62.33576,89.010989,73.753731

In [99]:
# 파일로 저장하자 
new_df.to_csv('./data/merged_parameters.csv', encoding='utf-8')

In [101]:
# 확인
confirm =  pd.read_csv('./data/merged_parameters.csv',
                   encoding='utf-8',
                   index_col=0)
display(confirm)

,이름,회의,회의_평균,의안,의안_평균,소통일치도,소통일치도_평균,공약이행도,공약이행도_평균,긍부정비율,긍부정비율_평균
0,강병원,62.0,30.428571,24,22,23,22,77.083333,62.33576,89.010989,73.753731
1,고용진,22.0,30.428571,26,22,14,22,60.714286,62.33576,84.000000,73.753731
2,금태섭,38.0,30.428571,19,22,27,22,47.727273,62.33576,81.465517,73.753731
3,기동민,67.0,30.428571,28,22,41,22,61.111111,62.33576,79.055118,73.753731
4,김병기,7.0,30.428571,38,22,38,22,86.363636,62.33576,70.727273,73.753731
5,김선동,16.0,30.428571,9,22,11,22,0.000000,62.33576,92.748092,73.753731
6,김성식,23.0,30.428571,6,22,5,22,76.470588,62.33576,85.472155,73.753731
7,김성태,38.0,30.428571,6,22,8,22,51.470588,62.33576,76.988464,73.753731
8,김성환,7.0,30.428571,11,22,5,22,68.421053,62.33576,77.238240,73.753731
9,김영주,8.0,30.428571,12,22,6,22,0.000000,62.33576,62.997658,73.753731
10,김영호,24.0,30.428571,31,22,44,22,55.555556,62.33576,64.610390,73.753731
11,김용태,8.0,30.428571,8,22,14,22,81.818182,62.33576,79.843225,73.753731
12,나경원,36.0,30.428571,2,22,8,22,80.555556,62.33576,72.104405,73.753731
13,남인순,46.0,30.428571,24,22,25,22,51.408451,62.33576,73.714286,73.753731
14,노웅래,23.0,30.428571,38,22,35,22,73.469388,62.33576,70.563961,73.753731
15,민병두,56.0,30.428571,11,22,9,22,52.941176,62.33576,74.116306,73.753731
16,박성중,25.0,30.428571,13,22,16,22,58.620690,62.33576,83.832335,73.753731
17,박영선,31.0,30.428571,6,22,5,22,77.777778,62.33576,72.824919,73.753731
18,박용진,48.0,30.428571,7,22,11,22,94.444444,62.33576,90.406977,73.753731
19,박인숙,20.0,30.428571,39,22,45,22,58.750000,62.33576,83.917775,73.753731
20,박주민,34.0,30.428571,22,22,17,22,54.054054,62.33576,84.865471,73.753731
21,박홍근,70.0,30.428571,28,22,44,22,52.631579,62.33576,56.045519,73.753731
22,서영교,28.0,30.428571,93,22,100,22,96.000000,62.33576,67.275495,73.753731
23,손혜원,0.0,30.428571,7,22,0,22,53.448276,62.33576,79.005998,73.753731
24,신경민,14.0,30.428571,26,22,39,22,69.791667,62.33576,83.312883,73.753731
25,심재권,56.0,30.428571,13,22,18,22,97.619048,62.33576,69.984202,73.753731
26,안규백,9.0,30.428571,12,22,28,22,85.454545,62.33576,60.066556,73.753731
27,오신환,45.0,30.428571,8,22,6,22,86.486486,62.33576,94.157609,73.753731
28,우상호,20.0,30.428571,12,22,5,22,80.000000,62.33576,61.892902,73.753731
29,우원식,13.0,30.428571,18,22,5,22,74.576271,62.33576,66.847237,73.753731
30,유승희,16.0,30.428571,71,22,80,22,77.604167,62.33576,78.709677,73.753731
31,이은재,0.0,30.428571,0,22,0,22,60.000000,62.33576,53.201970,73.753731
32,이인영,66.0,30.428571,26,22,12,22,62.765957,62.33576,73.005641,73.753731
33,이종구,46.0,30.428571,7,22,0,22,0.000000,62.33576,68.998410,73.753731
34,이혜훈,7.0,30.428571,8,22,21,22,81.250000,62.33576,78.656126,73.753731
35,이훈,28.0,30.428571,11,22,0,22,75.000000,62.33576,71.798365,73.753731
36,인재근,4.0,30.428571,49,22,60,22,71.212121,62.33576,58.695652,73.753731
37,전현희,3.0,30.428571,100,22,48,22,58.333333,62.33576,77.915633,73.753731
38,전혜숙,31.0,30.428571,45,22,68,22,73.170732,62.33576,69.527897,73.753731
39,정세균,100.0,30.428571,13,22,11,22,0.000000,62.33576,57.560137,73.753731
40,정양석,22.0,30.428571,1,22,0,22,0.000000,62.33576,74.251497,73.753731
41,지상욱,47.0,30.428571,4,22,0,22,42.857143,62.33576,84.685506,73.753731
42,진선미,24.0,30.428571,9,22,29,22,64.912281,62.33576,60.688406,73.753731
43,진영,31.0,30.428571,0,22,0,22,66.071429,62.33576,74.285714,73.753731
44,최재성,9.0,30.428571,27,22,41,22,67.857143,62.33576,64.387755,73.753731
45,추미애,36.0,30.428571,9,22,14,22,65.384615,62.33576,65.636042,73.753731
46,한정애,51.0,30.428571,46,22,43,22,79.268293,62.33576,59.132007,73.753731
47,홍익표,69.0,30.428571,38,22,34,22,50.000000,62.33576,64.693446,73.753731
48,황희,7.0,30.428571,9,22,9,22,94.000000,62.33576,89.010989,73.753731